<section class="h-[450px] bg-[#F9F9F9] grid grid-cols-2">
<div class=" content-center pr-2">

  <h2 class="text-4xl font-bold tracking-tight text-balance text-[#2F2F2F] text-end sm:text-6xl w-auto">{{titre}}</h2>
</div>
  <div class="content-center pl-2 ">
  <div class="  bg-light-blue flex flex-wrap gap-2 w-[200px] h-auto">
    <img src="https://images.pexels.com/photos/1128678/pexels-photo-1128678.jpeg" alt="Couscous marocain">
    <img src="https://picsum.photos/id/106/120" alt="Tajine de poulet">
    <img src="https://images.pexels.com/photos/7656392/pexels-photo-7656392.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Pastilla marocaine">
    <img src="https://picsum.photos/id/108/120" alt="Salade marocaine">


  </div>
  </div>
</section>
