<section>
  <div class="latest-recipe-container">
    <div class="flex gap-4 w-full justify-center content-center">
      <h4 class="text-center text-3xl  ">Lattest recipes</h4>
      <h4 class="text-center text-3xl ">Most populares</h4>
    </div>

    <div class="recipe-container">
      <div class="pt-20 w-full flex  flex-wrap items-center justify-between gap-3">
        <app-recipe-card></app-recipe-card>
        <app-recipe-card></app-recipe-card>
        <app-recipe-card></app-recipe-card>
        <app-recipe-card></app-recipe-card>


      </div>

    </div>
  </div>

</section>
